.section-title {
  font-size: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 10%;
  margin-bottom: 40px;
  border-bottom: 2px black solid;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 100;
  background-color: #386cfa;
}

nav .page-links {
  font-size: 18px;
}

nav .page-links a {
  text-decoration: none;
  color: black;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  margin: 0 8px;
}

nav .page-links a:hover {
  text-shadow: 0 0 5px grey, 0 0 8px black;
}

nav .logo img {
  height: 50px;
}

nav .social-links a {
  padding: 0 5px;
}

nav .social-links a img {
  height: 40px;
  width: 40px;
}

#home {
  height: 100vh;
  padding: 20px;
  padding-top: 5vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  border-radius: 20px;
}

#home .home-left h1 {
  font-size: 50px;
}

#home .home-left h1 span {
  color: aqua;
}

#home .home-left h2 {
  color: #242424;
  font-size: 20px;
  font-weight: lighter;
}

#home .home-right {
  height: 90%;
}

#projects {
  overflow: hidden;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}

#projects .project-collection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  position: relative;
}

#projects .project-collection .project_card {
  position: relative;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 5;
  overflow: hidden;
}

#projects .project-collection .project_card:hover {
  z-index: 10;
  scale: 1.1;
  cursor: pointer;
}

#projects .project-collection .project_card img {
  width: 100%;
  height: 100%;
}

#projects .project-collection .project_card .text-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

#projects .project-collection .project_card .text-container h1 {
  color: white;
  position: relative;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#projects .project-collection #card-0 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

#projects .project-collection #card-0 h1 {
  top: 300px;
}

#projects .project-collection #card-0:hover h1 {
  top: 0;
  opacity: 1;
}

#projects .project-collection #card-0:hover {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

#projects .project-collection #card-1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

#projects .project-collection #card-1:hover {
  -webkit-box-shadow: -5px 5px 5px black;
          box-shadow: -5px 5px 5px black;
}

#projects .project-collection #card-1 h1 {
  right: 300px;
}

#projects .project-collection #card-1:hover h1 {
  right: 0;
  opacity: 1;
}

#projects .project-collection #card-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
}

#projects .project-collection #card-2:hover {
  -webkit-box-shadow: 5px -5px 5px black;
          box-shadow: 5px -5px 5px black;
}

#projects .project-collection #card-2 h1 {
  bottom: 300px;
}

#projects .project-collection #card-2:hover h1 {
  bottom: 0;
  opacity: 1;
}

#projects .project-collection #card-3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
}

#projects .project-collection #card-3:hover {
  -webkit-box-shadow: -5px -5px 5px black;
          box-shadow: -5px -5px 5px black;
}

#projects .project-collection #card-3 h1 {
  left: 300px;
}

#projects .project-collection #card-3:hover h1 {
  left: 0;
  opacity: 1;
}

#projects .project-collection #card-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
}

#projects .project-collection #card-4:hover {
  -webkit-box-shadow: 5px 5x 5px black, -5px -5x 5px black;
          box-shadow: 5px 5x 5px black, -5px -5x 5px black;
  scale: 1.2;
}

#projects .project-collection #card-4 h1 {
  scale: 0.3;
}

#projects .project-collection #card-4:hover h1 {
  scale: 1;
  opacity: 1;
}

#achievements {
  height: 100vh;
}

#leadership .horizontal-timeline {
  margin: 0 1vw;
  background-color: black;
  width: 95vw;
  height: 5px;
}

#leadership .upper, #leadership .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px #967777 dotted;
}

#leadership .triangle-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #fff;
}

#leadership .triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #fff;
}

#leadership .contain {
  border: 2px orangered solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 10px;
}

#leadership .lower .contain {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
/*# sourceMappingURL=style.css.map */